@model List<Appointement>

<div class="container py-5">
    <h2>All Appointments</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Doctor</th>
                <th>Date & Time</th>
                <th>Phone</th>
                <th>Problem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.PatientName</td>
                    <td>@a.Doctor.Name</td>
                    <td>@a.AppointmentDate.ToString("yyyy-MM-dd hh:mm tt")</td>
                    <td>@a.PatientPhone</td>
                    <td>@a.Problem</td>
                </tr>
            }
        </tbody>
    </table>
</div>